@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono|Oxygen:300,400,700');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oxygen', Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $purple-light;
  background-color: $purple-dark;
}

pre,
code,
.monospace,
.code {
  font-family: 'Oxygen Mono', monospace;
  color: #42b883;
  background-color: $blue;
}

code {
  padding: 0.25rem 0.5rem;
  display: inline-block;
  border-radius: 2px;
}

h1,
.h1,
h2,
.h2 {
  font-weight: lighter;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 3rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b883;
}

section {
  padding: 0 1.5rem;
}

.app {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.svg-icon {
  display: inline-block;

  svg {
    overflow: hidden;
    width: 20px;
    height: 20px;
    fill: $green;
    display: inline-block;
    vertical-align: middle;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 32px;
  min-height: 10vh;

  &--item {
    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
